Repository ome/omero-documentation, pull requests merged in 2018-04, with the labels that each got.

#1867 For public user URL filter add helpful clarification.
  omero/sysadmins/public.rst
Labels: develop

#1870 Integration branches cleanup
  contributing/ci-ome-files.rst
  contributing/ci-omero.rst
  contributing/conf.py
Labels: contributing

#1871 Update PyPI URLs
  README.rst
  common/conf.py
  omero/developers/cli/extending.rst
Labels: contributing, develop

#1872 fix trivial markup typo
  omero/sysadmins/server-performance.rst
Labels: develop
